.posts{
  list-style-type: none;
  margin: 0;
}

.post{
  margin: 1rem 0; //top botom, left right

  a {
    background: whitesmoke;
    color: black;
    display: block;
    padding: 1rem;
    text-decoration: none; //no underlined link
  }

  a:hover {
    background: grey;
  }

  h2 {
    margin-bottom: 0;
  }
  
  p{
    color: black;
    font-size: .8rem;
    font-style: italic;
  }
}
