.header{
  padding: 0.2rem 0 1rem;
  background: lightslategray;
}

.title{
  color: White;
  font-size: 3rem;
  text-decoration: none;
  padding-left: 0.5em;
}

.navList{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 40px;
}

.navItem {
	color: white;
  font-size: 2em;
  margin-right: 5.3rem;
  text-decoration: none; 
  // remove underline look
}

.navItem:hover{
  color: black;
}

.active-nav-item{
  color: black;
}