.header{
  padding: 1rem 0 3rem;
  background: midnightblue;
}

.title{
  color: White;
  font-size: 3rem;
  text-decoration: none;
  padding-left: 0.5em;
}

.navList{
  float: right;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navItem {
	color: white;
  font-size: 2em;
  margin-right: 5.3rem;
  text-decoration: none; 
  // remove underline look
}

.navItem:hover{
  color: black;
}

.active-nav-item{
  color: black;
}